 @font-face {
     font-family: "nasinnanpa";
     src: url("https://raw.githubusercontent.com/ETBCOR/nasin-nanpa/n4.0.1/versions/nasin-nanpa-4.0.1-UCSUR.otf")
 }

 .SitelenButtons {
     font-family: nasinnanpa;
 }

 #textbox {
     /* TODO text wraping */
     font-family: nasinnanpa;
     font-size: 200%;
     width: 98%;

     margin: 1%;
     min-height: 4em;
 }

 footer {
     position: relative;
     bottom: 0;
     margin: 1%;

 }

 .button {
     font-family: nasinnanpa;
     font-size: 200%;
     width: 1.5em;
     height: 1.5em;
     margin: 0.1em;
 }

 .Punctuaton {
     background-color: gray;
     margin: 1%;
 }

 .Core {
     background-color: gold;
     margin: 1%;
 }

 .Common {
     background-color: brown;
     margin: 1%;
 }

 .UnCommon {
     background-color: darkmagenta;
     margin: 1%;
 }

 .Obscure {
     background-color: darkviolet;
     margin: 1%;
 }