 @font-face {
     font-family: "nasinnanpa";
     src: url("https://raw.githubusercontent.com/ETBCOR/nasin-nanpa/n4.0.1/versions/nasin-nanpa-4.0.1-UCSUR.otf")
 }

 body {
     width: 98%;
     padding: 1%;
     margin-left: auto;
     margin-right: auto;
     background-color: black;
     color: white;
 }

 #textbox {
     width: 98%;
     position: fixed;
     top: 1%;
     font-family: nasinnanpa;
     font-size: 200%;
     height: 6em;
     word-wrap: break-word;
     resize: none;
     background-color: rgb(100, 100, 100);
     color: white;
 }

 #textboxspacer {
     padding-top: 1%;
     font-size: 200%;
     height: 6em;
 }



 .button {
     font-family: nasinnanpa;
     font-size: 200%;
     width: 1.5em;
     height: 1.5em;
     margin: 0.1em;
     background-color: rgb(70, 70, 70);
     color: white;
 }

 .Punctuaton {
     background-color: gray;
     margin-bottom: 1%;

 }


 #spacer {
     height: 6em;
 }

 footer {
     position: relative;
 }

 .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 6em;
 }

 @media only screen and (max-width: 600px) {

     .button {
         width: 2em;
         height: 2em;
     }
 }